import type { Meta, StoryObj } from '@storybook/react';
import { action } from '@storybook/addon-actions';
import { View } from 'react-native';
import { <%= kebabToPascal(componentName) %> } from './<%= componentName %>';

const meta = {
  title: '<%= kebabToPascal(componentName) %>',
  component: <%= kebabToPascal(componentName) %>,
  args: {
    text: '<%= componentName %>',
  },
  decorators: [
    (Story) => (
      <View style={{ padding: 16 }}>
        <Story />
      </View>
    ),
  ],
} satisfies Meta<typeof <%= kebabToPascal(componentName) %>>;

export default meta;

type Story = StoryObj<typeof meta>;

export const Basic: Story = {
  args: {
    onPress: action('onPress'),
  },
};
