import React from 'react';
import type { Meta, StoryObj } from '@storybook/react';
import { action } from '@storybook/addon-actions';
import styledWeb from 'styled-components';
import styledRN from 'styled-components/native';
import { <%= kebabToPascal(componentName) %> } from '.';

const isReactWeb =
  typeof window !== 'undefined' && typeof document !== 'undefined';

const View = (isReactWeb? styledWeb.div : styledRN.View)`
padding: 16px;
`;

const meta = {
  title: '<%= kebabToPascal(componentName) %>',
  component: <%= kebabToPascal(componentName) %>,
  args: {
    text: '<%= componentName %>',
  },
  decorators: [
    (Story: React.ComponentType) => (
      <View>
        <Story />
      </View>
    ),
  ],
} satisfies Meta<typeof <%= kebabToPascal(componentName) %>>;

export default meta;

type Story = StoryObj<typeof meta>;

export const Basic: Story = {
  args: {
    onPress: action('onPress'),
  },
};
